.DS_Store

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# IntelliJ project files
.idea
*.iml
out
gen
### Go tests
# Test binary, built with `go test -c`
*.test

# Go test coverage files
coverage.html
coverage.txt

bin/
charts/build/
kubeconfig
k0sctl.yaml
blueprint.yaml

dist/
